.moreview_btn {
  border: none;
  outline: none;
  font-size: 13px;
  background-color: transparent;
  color: #000;
}

.moreview_btn a {
  padding: 8px 12px 8px 0;
  display: inline-block;
}

/*******************************************************************************
  banner
********************************************************************************/
.product {
  float: left;
  height: 100vh;
  width: 50%;
  max-width: 980px;
  background-color: antiquewhite;
}

.info,
.img {
  height: 50vh;
  width: 50%;
  max-width: 940px;
  float: right;
}

.info {
  padding: 140px 125px;
}

.info h2 {
  font-size: 48px;
}

.info p {
  margin: 26px 0 38px;
}

.img {
  background-color: aquamarine;
}

/*******************************************************************************
  best
********************************************************************************/

.product_list1 {
  /* overflow: hidden; */
  margin-top: 70px;
  position: relative;
}

.product_list1 li {
  position: relative;
  text-align: center;
}

.product_list1 li:hover img {
  transform: scale(1.1);
}

.product_list1 li img {
  transition: 0.3s;
  width: 80%;
}

.product_list1 li:nth-child(1) {
  left: 720px;
  width: 578px;
}

.product_list1 li:nth-child(1) .img1 {
  height: 636px;
  background: url(../images/bg/bg_atoderm.jpg) no-repeat center center/cover;
}

.product_list1 li:nth-child(2) {
  width: 430px;
  top: -237px;
}

.product_list1 li:nth-child(2) .img1 {
  height: 636px;
  background: url(../images/bg/bg_sensibio.jpg) no-repeat center center/cover;
}

.product_list1 li:nth-child(3) {
  width: 482px;
  left: 817px;
  top: -360px;
}

.product_list1 li:nth-child(3) .img1 {
  height: 425px;
  background: url(../images/bg/bg_sebium.jpg) no-repeat center center/cover;
}

.product_list1 .description {
  position: absolute;
  bottom: -78px;
  padding: 30px 50px;
  background-color: #fff;
}

.product_list1 .description .line {
  color: #0875ae;
  font-weight: 700;
  margin-bottom: 50px;
  display: block;
}

.product_list1 .description .line p {
  margin: 12px 0;
}

.product_list1 .description .price {
  color: #ef745e;
  font-weight: 700;
}

/*******************************************************************************
  online
********************************************************************************/
#online {
  background-color: #e2eaf3;
}

#online .wrap {
  padding: 105px 0;
  position: relative;
  left: 50%;
}

#online div {
  display: inline-block;
}

.txt span {
  color: #0875ae;
}

.txt p {
  font-size: 36px;
  margin: 18px 0;
}

.txt .hashtag {
  font-size: 20px;
  color: #665858;
}

.move_btn {
  margin-left: 50px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.move_btn a {
  margin-top: 32px;
}

.move_btn:hover {
  background-color: #0875ae;
  color: #fff;
}

/*******************************************************************************
  type
********************************************************************************/

.type_list {
  margin-top: 70px;
  text-align: center;
}

.type_list li {
  display: inline-block;
  padding: 0 20px;
  font-weight: 700;
}

.type_list li:hover {
  color: #0875ae;
}

.type_list .active:after {
  content: "";
  display: block;
  width: 90px;
  height: 4px;
  background-color: #0875ae;
  margin-top: 8px;
}

.product_list2 {
  margin: 30px 0 40px;
  font-size: 0;
}

.product_list2 li {
  display: inline-block;
  width: 365px;
  font-size: 16px;
  text-align: center;
}

.product_list2 .img2 {
  height: 365px;
}

.product_list2 img {
  width: 100%;
}

.product_list2 .description {
  margin-top: 35px;
}

.product_list2 .description .line {
  color: #0875ae;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}

.product_list2 .description .line p {
  margin: 12px 0;
}

.product_list2 .description .price {
  color: #ef745e;
  font-weight: 700;
}

#type .moreview_btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*******************************************************************************
  review
********************************************************************************/
.review_list {
  margin: 70px 0 30px;
  font-size: 0;
}

.review_list li {
  display: inline-block;
  width: 365px;
  vertical-align: top;
  border: 1px solid #f2f2f2;
}

.review_list .review_img {
  height: 365px;
}

.review_list .review_img img {
  width: 100%;
}

.review_list .review {
  padding: 24px;
  height: 180px;
}

.review_list .review .title {
  font-weight: 700;
  font-size: 16px;
}

.review_list .review > p,
.review_list .review span {
  font-size: 14px;
}

.review_list .review > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}

.review_list figure {
  padding: 14px 0;
  border-top: 1px solid #f2f2f2;
  overflow: hidden;
  margin: 0 24px;
}

.review_list .product_img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  float: left;
  overflow: hidden;
}

.review_list .product_img img {
  width: 100%;
}

.review_list figcaption {
  font-size: 14px;
  margin: 13px 0 0 48px;
}

#review .moreview_btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*******************************************************************************
  etc
********************************************************************************/

#etc .wrap {
  max-width: 1640px;
  padding: 76px 0;
}

#etc .wrap > div {
  display: inline-block;
  width: 806px;
  height: 212px;
  padding: 28px 50px;
  background-color: #f2f2f2;
  border-radius: 20px;
  position: relative;
}

.event {
  margin-left: 12px;
}

/*******************************************************************************
  footer
********************************************************************************/
footer {
  border-top: 2px solid #0875ae;
}

footer .wrap {
  padding: 0;
  position: relative;
}

.utill {
  overflow: hidden;
  padding: 18px 0;
  float: left;
  width: 100%;
}

.utill ul li {
  display: inline-block;
}

.utill .link li {
  padding: 0 14px;
  position: relative;
}

.utill .link li:first-child {
  padding-left: 0;
}

.utill .link > li:after {
  content: "ㅣ";
  position: absolute;
  right: -7px;
  top: 0;
}

.utill .link > li:last-child:after {
  content: none;
}

.utill .family-site {
  position: absolute;
  top: 0;
}

.utill .family-site li {
  display: list-item;
}

.utill .sns {
  float: right;
}
