@charset "utf-8";
@import "reset.css";
@import "NotoSansCJK.css";
@import url("https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "common.css";

/*******************************************************************************
  common
********************************************************************************/
body {
  font-family: "Noto Sans CJK", "맑은 고딕", 돋움, sans-serif;
  font-weight: normal;
  padding-top: 91px;
}

/*font-family: 'Poppins', sans-serif;*/

/*******************************************************************************
  header
********************************************************************************/
header {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 200;
  border-bottom: 1px solid #f2f2f2;
}

header h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  width: 150px;
  /* background-color: red; */
  height: 50px;
  left: 20px;
}

header h1 a {
  display: block;
  height: 100%;
  background: url(../images/logo/bioderma_logo.jpg) no-repeat center center /
    contain;
}

.navbar {
  text-align: center;
}

.navbar .gnb {
  display: inline-block;
  padding: 20px 0;
}

.navbar .gnb > li {
  padding: 0 23px;
  position: relative;
  float: left;
  line-height: 50px;
}

.navbar .gnb > li:hover {
  color: #617590;
}

.navbar .gnb li:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #617590;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 6px;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.navbar .gnb > li:hover:before {
  top: 0;
  visibility: visible;
  opacity: 1;
}

.navbar .lnb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70px;
  background-color: #fff;
  text-align: left;
  width: 150px;
  padding: 25px 10px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  color: #000;
  border: 1px solid #617590;
}

.navbar .lnb.on {
  visibility: visible;
  opacity: 1;
}

.navbar .lnb li {
  font-size: 15px;
  line-height: 30px;
}

.navbar .lnb li:hover {
  background-color: #617590;
  color: #fff;
}

.icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.icons i {
  padding: 0 20px;
  cursor: pointer;
}

.icons i:hover {
  color: #617590;
}

/*******************************************************************************
  footer
********************************************************************************/
footer {
  border-top: 2px solid #617590;
  /* background-color: #f2f2f2; */
  font-size: 14px;
}

footer .wrap {
  position: relative;
  overflow: hidden;
}

footer span {
  color: #858585;
}

/*utill*/
.utill {
  padding: 18px 0;
  float: left;
  width: 100%;
}

.utill ul {
  display: inline-block;
}

.utill ul li {
  position: relative;
  float: left;
}

.utill .link {
  float: left;
}

.utill .link a {
  display: block;
}

.utill .link > li {
  padding: 0 14px;
  line-height: 28px;
}

.utill .link > li:first-child {
  padding-left: 0;
}

.utill .link > li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  width: 1px;
  height: 10px;
  background-color: #cbcbcb;
}

.utill .link .drop_link {
  cursor: pointer;
}

.utill .link .drop_link:after {
  content: none;
}

.utill .link .drop_link i {
  margin-left: 4px;
  transition: 0.4s;
  color: #617590;
}

.utill .link .family-site {
  width: 90px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  border: 1px solid #617590;
  background-color: #fff;
  z-index: 1;
  padding: 10px;
  text-align: center;
}

.utill .link .family-site li {
  width: 100%;
}

.utill .link .family-site li:hover {
  background-color: #617590;
  color: #fff;
}

.utill .link .active i {
  transform: rotate(180deg);
}

.utill .link .active .family-site {
  display: block;
}

.utill .sns {
  float: right;
  font-size: 0;
}

.utill .sns li {
  margin-left: 10px;
  width: 28px;
  height: 28px;
}

.utill .sns li img {
  width: 100%;
  height: 100%;
}

/*info*/
.info {
  clear: both;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
}

.info > div {
  float: left;
  position: relative;
}

.info > div:after {
  content: "";
  width: 1px;
  height: 220px;
  background-color: #f1f1f1;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.info > div:last-child:after {
  content: none;
}

.info .txt_wrap {
  padding: 50px 35px;
}

.info .txt_wrap em {
  padding-bottom: 28px;
  display: block;
}

.info .customer-center .txt_wrap {
  padding-left: 0;
}

.info .customer-center .txt_wrap > span {
  font-size: 26px;
  padding-bottom: 20px;
  display: block;
  color: #000;
}

.info .customer-center .txt_wrap .txt span {
  display: block;
  line-height: 24px;
}

.info .customer-center .txt_wrap .link {
  padding-top: 35px;
}

.info .customer-center .txt_wrap .link > div {
  display: inline-block;
  padding: 15px 30px;
}

.info .customer-center .txt_wrap .link .notice {
  margin-right: 10px;
  background-color: #617590;
  color: #fff;
}

.info .customer-center .txt_wrap .link .qa-board {
  border: 1px solid #617590;
}

.info .shopping-menu .txt_wrap .menu li {
  color: #858585;
  line-height: 24px;
}

.info .return {
  width: 610px;
}

.info .return .txt_wrap p {
  display: block;
  line-height: 24px;
  color: #858585;
}

.info .return .re_info {
  padding-top: 30px;
  overflow: hidden;
}

.info .return .re_info .img_wrap {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.info .return .re_info .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*address*/
.address {
  padding: 35px 0 20px;
  float: left;
}
.address ul li {
  display: inline-block;
}

.address ul li span {
  padding-right: 4px;
}

.address ul li:nth-child(5) {
  display: block;
  margin: 4px 0;
}

.escrow {
  float: right;
  padding: 35px 0 20px;
}

.escrow img {
  height: 56px;
}

.copylight {
  clear: both;
  padding-bottom: 20px;
}
